<h6>HTML index<h6>

<h1>Categoria de carros</h1>
<%if @carcategories.empty? %>
   <h3>Nenhuma categoria cadastrada </h3>
<% end %>
    

<%@carcategories.each do |carcategory|%>
  <h3><%= link_to carcategory.name, carcategory_path(carcategory) %></h3>
<% end %>

<br> <br>
<%= link_to "Voltar", root_path %>
<%= link_to "Cadastrar nova Categoria", new_carcategory_path %>